# .flake8
[flake8]
max-line-length = 120
exclude = .git,__pycache__,venv,.venv,*.pyc
# E201, E202 - пробелы в скобках
# F841 - неиспользуемая переменная
# W503, E203 - спорные правила, которые часто игнорируют
ignore = W503,E203